@{
    ViewData["Title"] = "About The Tracker";
}


<div class="jumbotron shadow" style="background-color: #007bff;border-radius: 30px;">
    <div class="text-center">
        <h1>Tracker</h1>
        <h2>The Reference Tracker App:</h2>
        <p>The Reference Tracker App is to assist in tracking members and their associated references.</p>
        <p> Helping connect the two together, to create a searchable database able to be utilized to help combat bad references.</p>
        <img src="~/images/lock.PNG" alt="logo" style="width:100px;" />
    </div>
</div>

