@{
    ViewData["Title"] = "About The Tracker";
}


<div class="text-center">
<h1>Tracker</h1>
<h2>The Reference Tracker App:</h2>
<p>The Reference Tracker App is to assist in tracking members and their associated references.</p>
<p> This will help connect the two together, making a searchable database able to be utilized to help combat bad references.</p>
<img src="~/images/lock.PNG" alt="logo" style="width:100px;" />
</div>

