@{ ViewData["Title"] = "Tracker App"; }

<div class="jumbotron shadow" style="background-color: #007bff;border-radius: 30px;">
    <div class="text-center">
        <h2>Tracker App</h2>
        <h3>The best way to track members and reference relationships!</h3>
        <address>
            RocketCat Applications 
            Traverse City, MI 49696<br />
            <abbr title="Phone">P:</abbr>
            800.778.7898
        </address>

        <address>
            <strong>Tech Support:</strong>   <a href="mailto:Support@trackerapp.com">Support@trackerapp.com</a><br />
            <strong>Legal:</strong> <a href="mailto:Legal@trackerapp.com">Legal@trackerapp.com</a>
        </address>
    </div>
    </div>

