@{ ViewData["Title"] = "Tracker App"; }
<div class="jumbotron shadow" style="background-color: #48AB82;border-radius: 30px;">
    <h2>Tracker App</h2>
    <h3>The best way to track</h3>
</div>

<address>
    Traverse City, MI 49696<br />
    <abbr title="Phone">P:</abbr>
    800.778.7898
</address>

<address>
    <strong>Tech Support:</strong>   <a href="mailto:Support@trackerapp.com">Support@trackerapp.com</a><br />
    <strong>Legal:</strong> <a href="mailto:Legal@trackerapp.com">Legal@trackerapp.com</a>
</address>
