@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron shadow" style="        background-color: #007bff;border-radius: 30px;">
    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <h2>Thank you for visiting the Tracker App!</h2>
        <img src="~/images/Screen.png" alt="logo" style="width:100px;" />
        <p>
            This app provides small businesses a way to store member information, while also allowing a way to track member and reference relationships,
            utilizing search functionality and cross relationship displays.
        <p>
        <p>Never get caught by a bad reference again!</p>
    </div>
</div>
